/* form */
.error-input {
	display: flex;
  align-items: center;
}

/* loading btn */
.btn {
  position: relative;
}

.btn-loader .btn-text {
  visibility: hidden !important;
  opacity: 0 !important;
}

.btn-loader::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid rgb(255, 255, 255, 0.6);
  border-top-color: #fff;
  border-radius: 50%;
  animation: btn-loader 1s linear infinite;
}

.btn-loader-black::after {
  content: "";
  border: 3px solid rgb(0, 0, 0, 0.6);
  border-top-color: #000;
}

.btn-loader-primary::after {
  content: "";
  border: 3px solid rgb(31, 68, 255, 0.6);
  border-top-color: #1f44ff;
}

.btn-loader-danger::after {
  content: "";
  border: 3px solid rgb(220, 53, 69, 0.6);
  border-top-color: #dc3545;
}

@keyframes btn-loader {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}